--- ---
/* Tim Pevey Resume 2025 */

/** MARK: Fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght,SOFT@9..144,100..900,50&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/** MARK: Variables
*/
:root {
    --font-family-mono: "Source Code Pro", monospace;
    --font-family-serif: "Source Serif 4", serif;
    --font-family-display: "Fraunces", serif;
    --color-grey-500: #525151;
    --color-grey-300: #888888;
    --color-grey-100: #d3d3d3;
    --color-grey-50: #eaedef;
    --color-red-900: #311e1e;
    --color-red-100: #ffd8f7;
    --color-blue-300: #1198ce;
    --color-text-body: var(--color-red-900);
    --color-text-link: var(--color-blue-300);
    --color-dark-grey: var(--color-grey-500);
    --color-light-grey: var(--color-grey-300);
    --color-faint-grey: var(--color-grey-100);
    --color-fainter-grey: var(--color-grey-50);
    --color-profile-outline-pink: var(--color-red-100);
}

/** MARK: Base Styles
*/
a {
    color: var(--color-text-link);
}

html {
    max-width: 900px;
    font-size: 18px;
    padding: 20px;
    margin: 0 auto;
}

body {
    background-color: #f7f7f7;
    padding-bottom: 50px;
    font-size: 16px;
    color: var(--color-text-body);
}

p,
li {
    font-family: "Source Code Pro ", monospace;
    font-size: 1.0rem;
    line-height: 1.25;
}

.job-group>ul>li {
    margin: 0 0 .75rem 0;
}

hr {
    height: 1px;
    background-color: var(--color-faint-grey);
    border: none;
}

/** MARK: Header & Contact
*/
header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.brand {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-shrink: 0;
    order: 1;
    margin-bottom: 20px;
}

.profile-photo {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.profile-photo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0);
    object-fit: cover;
    box-shadow: 3px 4px var(--color-red-900);
}

h1 {
    margin: 0;
    text-align: left;
    white-space: nowrap;
}

.first-name,
.last-name {
    font-family: var(--font-family-display);
    font-size: 2.5em;
}

.contact {
    display: flex;
    align-items: center;
    gap: 8px;
}

.contact a img {
    width: 25px;
    height: 25px;
}

.button-row {
    display: flex;
    justify-content: right;
}

.download-button {
    display: inline-flex;
    align-items: center;
    color: var(--color-light-grey);
    font-family: var(--font-family-mono);
    font-size: 0.8em;
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
    vertical-align: middle;
    padding: 7px 14px;
    border-radius: 6px;
    margin-left: 10px;
    border: 1px solid var(--color-light-grey);
    transition: all .2s ease;
}

.download-button:hover {
    background-color: var(--color-light-grey);
    color: white;
    border-color: var(--color-light-grey);
    transition: all .2s ease;
}

.download-button:hover .download-icon {
    fill: white;
    transition: all .2s ease;
}

.download-icon {
    fill: var(--color-light-grey);
    stroke: none;
    width: 10px;
    height: 10px;
    margin-right: 6px;
    transition: all .2s ease;
}

/** MARK: Grid Layout
*/
.grid-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}

aside::before {
    content: 'Project Links';
    display: block;
    font-family: var(--font-family-display);
    font-size: 1.3em;
    font-weight: 700;
    border-top: 3px solid var(--color-text-body);
    border-bottom: 1px solid var(--color-text-body);
    padding: 10px 0px 10px 0px;
    margin-bottom: 1.5rem;
}

aside {
    grid-column: 2;
    border: 1px solid var(--color-faint-grey);
    border-radius: 10px;
    padding: 25px 15px 25px 15px;
    margin-top: 30px;
    background-color: var(--color-fainter-grey);
    align-self: start;
}

/** MARK: Section Styles
*/
h2 {
    font-family: var(--font-family-display);
    font-size: 1.5em;
    border-top: 3px solid var(--color-text-body);
    border-bottom: 1px solid var(--color-text-body);
    padding: 10px 0px 10px 0px;
    margin-top: 2.0em;
}

.summary p {
    padding-top: 1em;
}

.sub-title {
    font-family: var(--font-family-display);
    font-size: 1.1em;
    font-weight: 600;
}

.core-competencies p {
    margin-top: 1px;
}

/** MARK: Sidebar Styles
*/
.sidebar-title {
    display: block;
    font-family: var(--font-family-display);
    font-size: 1.1em;
    font-weight: 600;
    margin: 1rem 0 1rem 0;

}

.sidebar-project {
    display: block;
    font-family: var(--font-family-mono);
    font-size: 0.9em;
    font-weight: 600;
    margin-top: 1.5rem;
}

.sidebar-text {
    display: block;
    font-family: var(--font-family-serif);
    font-size: inherit;
    margin-bottom: 1rem;
}

/** MARK: Job & Education Groups
*/
.job-group {
    display: grid;
    grid-template-rows: 3fr;
    grid-template-areas:
        "company"
        "prof-details"
        "list";
    margin-bottom: 20px;
}

.company {
    grid-area: company;
}

.company,
.degree {
    font-family: var(--font-family-display);
    font-size: 1.1em;
    font-weight: 600;
    padding-right: 5px;
}

.prof-details {
    grid-area: prof-details;
}

.job-group ul {
    grid-area: list;
}

.job-title,
.school {
    color: var(--color-text-link);
    font-weight: 600;
    font-size: 0.9em;
    font-family: var(--font-family-serif);
    font-style: italic;
}

.dates {
    font-family: var(--font-family-serif);
    font-style: italic;
    font-size: 0.9em;
    color: var(--color-text-link);
}

.technical-proficiencies p:not(:last-child) {
    margin-bottom: -10px;
}

.school-group {
    display: grid;
    grid-template-rows: 3fr;
    grid-template-areas:
        "degree"
        "edu-details"
        "list";
    margin-bottom: 20px;
}

.degree {
    grid-area: degree;
}

.edu-details {
    grid-area: edu-details;
}

.school-group ul {
    grid-area: list;
}

.thesis {
    font-family: var(--font-family-serif);
    font-style: italic;
}

/** MARK: Footer
*/
.footer {
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 80px;
}

.footer::before,
.footer::after,
.contact::before,
.contact::after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background-color: var(--color-faint-grey);
}

.footer::before,
.contact::before {
    margin-right: 15px;
}

.footer::after,
.contact::after {
    margin-left: 15px;
}

.footer span {
    font-family: var(--font-family-display);
    color: var(--color-light-grey);
    font-size: 1.2em;
}

/** MARK: Media Queries
*/


@media (max-width: 768px) {
    body {
        padding: 0px 25px 0px 25px;
    }

    .contact a img {
        width: 35px;
        height: 35px;
    }

    header {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .summary p {
        padding-top: .5em;
    }

    .button-row {
        display: inline-flex;
        width: 100%;
        justify-content: center;
        margin-top: 20px;
    }

    .download-button {
        box-sizing: border-box;
        margin-left: 0;
        width: 100%;
        justify-content: center;
    }

    aside::before {
        content: 'Project Links';
        display: block;
        font-family: var(--font-family-display);
        font-size: 1.5em;
        font-weight: 700;
        border-top: 3px solid var(--color-text-body);
        border-bottom: 1px solid var(--color-text-body);
        padding: 10px 0px 10px 0px;
        margin-bottom: 0;
    }

    aside {
        grid-column: auto;
        border: none;
        border-radius: none;
        background-color: transparent;
        padding: 20px 0 0 0;
    }

    .sidebar-title {
        margin: 1rem 0 0 0;
    }

    .sidebar-project {
        font-family: var(--font-family-serif);
        font-size: 1rem;
        margin: 1rem 0 0 0;
    }

    .sidebar-text {
        font-family: var(--font-family-mono);
        font-size: 1rem;
        margin: 0 0 1rem 0;
    }

    .brand {
        flex-direction: column;
    }

    h1 {
        text-align: center;
        font-size: 1.5rem;
    }

    .profile-photo img {
        width: 96px;
        height: 96px;
        border: 1px solid var(--color-profile-outline-pink);
    }

    .grid-container {
        display: block;
    }

    main {
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    body {
        padding: 0px 10px 0px 10px;
    }

    h1 {
        font-size: 1.2rem;
    }
}

/** MARK: Print Styles
*/
@media print {
    @page {
        margin: 0.5in;
        size: auto;
        /* auto allows user to select paper size, but typically A4/Letter */
    }

    body {
        background-color: white;
        color: black;
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    /* Hide non-print elements */
    .button-row,
    .download-button {
        display: none !important;
    }

    /* Adjust Grid for Paper */
    .grid-container {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 20px;
        page-break-inside: avoid;
    }

    aside {
        background-color: var(--color-fainter-grey) !important;
        /* ensure background prints */
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
        margin-top: 0;
        height: auto;
        border: 1px solid var(--color-faint-grey);
        /* Keep border for structure */
    }

    /* Prevent breaking inside elements */
    .job-group,
    .school-group {
        page-break-inside: avoid;
    }

    section {
        /* Trying to let sections break if they are long, but groups shouldn't */
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        page-break-after: avoid;
    }

    /* Ensure Sidebar content flows well */
    .sidebar-project,
    .sidebar-text,
    .sidebar-title {
        page-break-inside: avoid;
    }
}