/* Tim Pevey Resume 2025 */

/** MARK: Fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght,SOFT@9..144,100..900,50&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/** MARK: Variables
*/
:root {
    --color-grey-500: #525151;
    --color-grey-300: #888888;
    --color-grey-100: #d3d3d3;
    --color-grey-50: #eaedef;
    --color-red-900: #311e1e;
    --color-red-100: #ffd8f7;
    --color-blue-300: #1198ce;
    --color-text-body: var(--color-red-900);
    --color-text-link: var(--color-blue-300);
    --color-dark-grey: var(--color-grey-500);
    --color-light-grey: var(--color-grey-300);
    --color-faint-grey: var(--color-grey-100);
    --color-fainter-grey: var(--color-grey-50);
    --color-profile-outline-pink: var(--color-red-100);
}

/** MARK: Base Styles
*/
a {
    color: var(--color-text-link);
}

html {
    max-width: 900px;
    font-size: 16px;
    padding: 20px;
    margin: 0 auto;
}

body {
    background-image: url("https://raw.githubusercontent.com/WrinkleRelease/resume/refs/heads/main/assets/images/whitepaper.jpg");
    background-size: 10%;
    background-color: #eeeeee;
    padding-bottom: 50px;
    font-size: 16px;
    color: var(--color-text-body);
}

p, li {
    font-family: "Source Code Pro ", monospace;
    font-size: 1.0rem;
    line-height: 1.25;
}

.job-group > ul > li {
    margin: 0 0 .75rem 0;
}

hr {
    height: 1px;
    background-color: var(--color-faint-grey);
    border: none;
}

/** MARK: Header & Contact
*/
header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.brand {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-shrink: 0;
    order: 1;
    margin-bottom: 20px;
}

.profile-photo {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.profile-photo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid var(--color-profile-outline-pink);
    object-fit: cover;
}

h1 {
    margin: 0;
    text-align: left;
    white-space: nowrap;
}

.first-name, .last-name {
    font-family: "Fraunces", serif;
    font-size: 2.5em;
}

.contact {
    display: flex;
    align-items: center;
    gap: 8px;
}

.contact a img {
    width: 25px;
    height: 25px;
}

/** MARK: Grid Layout
*/
.grid-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}

aside::before {
        content: 'Project Links';
        display: block;
        font-family: "Fraunces", serif;
        font-size: 1.3em;
        font-weight: 700;
        border-top: 3px solid var(--color-text-body);
        border-bottom: 1px solid var(--color-text-body);
        padding: 10px 0px 10px 0px;
        margin-bottom: 1.5rem;
    }

aside {
    grid-column: 2;
    border: 1px solid var(--color-faint-grey);
    border-radius: 10px;
    padding: 25px 15px 25px 15px;
    margin-top: 30px;
    background-color: var(--color-fainter-grey);
    align-self: start;
}

/** MARK: Section Styles
*/
h2 {
    font-family: "Fraunces", serif;
    font-size: 1.5em;
    border-top: 3px solid var(--color-text-body);
    border-bottom: 1px solid var(--color-text-body);
    padding: 10px 0px 10px 0px;
    margin-top: 2.0em;
}

.summary p {
    padding-top: 1.5em;
}

.sub-title {
    font-family: "Fraunces", serif;
    font-size: 1.1em;
    font-weight: 600;
}

.core-competencies p {
    margin-top: 1px;
}

/** MARK: Sidebar Styles
*/
.sidebar-title {
    display: block;
    font-family: "Fraunces", serif;
    font-size: 1.1em;
    font-weight: 600;
    margin: 1rem 0 1rem 0;

}

.sidebar-project {
    display: block;
    font-family: "Source Code Pro", serif;
    font-size: 0.9em;
    font-weight: 600;
    margin-top: 1.5rem;
}

.sidebar-text {
    display: block;
    font-family: "Source Serif 4", serif;
    font-size: inherit;
    margin-bottom: 1rem;
}

/** MARK: Job & Education Groups
*/
.job-group {
    display: grid;
    grid-template-rows: 3fr;
    grid-template-areas:
        "company"
        "prof-details"
        "list";
    margin-bottom: 20px;
}

.company {
    grid-area: company;
}

.company, .degree {
    font-family: "Fraunces", serif;
    font-size: 1.1em;
    font-weight: 600;
    padding-right: 5px;
}

.prof-details {
    grid-area: prof-details;
}

.job-group ul {
    grid-area: list;
}

.job-title, .school {
    color: var(--color-text-link);
    font-weight: 600;
    font-size: 0.9em;
    font-family: "Source Serif 4", serif;
    font-style: italic;
}

.dates {
    font-family: "Source Serif 4", serif;
    font-style: italic;
    font-size: 0.9em;
    color: var(--color-text-link);
}

.technical-proficiencies p:not(:last-child) {
    margin-bottom: -10px;
}

.school-group {
    display: grid;
    grid-template-rows: 3fr;
    grid-template-areas:
        "degree"
        "edu-details"
        "list";
    margin-bottom: 20px;
}

.degree {
    grid-area: degree;
}

.edu-details {
    grid-area: edu-details;
}

.school-group ul {
    grid-area: list;
}

.thesis {
    font-family: "Source Serif 4", serif;
    font-style: italic;
}

/** MARK: Footer
*/
.footer {
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 80px;
}

.footer::before,
.footer::after,
.contact::before,
.contact::after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background-color: var(--color-faint-grey);
}

.footer::before,
.contact::before {
    margin-right: 15px;
}

.footer::after,
.contact::after {
    margin-left: 15px;
}

.footer span {
    font-family: "Fraunces", serif;
    color: var(--color-light-grey);
    font-size: 1.2em;
}

/** MARK: Media Queries
*/


@media (max-width: 768px) {
    body  {
        padding: 0px 25px 0px 25px;
    }

    header {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

  aside::before {
        content: 'Project Links';
        display: block;
        font-family: "Fraunces", serif;
        font-size: 1.5em;
        font-weight: 700;
        border-top: 3px solid var(--color-text-body);
        border-bottom: 1px solid var(--color-text-body);
        padding: 10px 0px 10px 0px;
        margin-bottom: 0;
    }

    aside {
        grid-column: auto;
        border: none;
        border-radius: none;
        background-color: transparent;
        padding: 20px 0 0 0;
    }

    .sidebar-title {
        margin: 1rem 0 0 0;
    }

    .sidebar-project {
        font-family: "Source Serif 4", serif;
        font-size: 1rem;
        margin: 1rem 0 0 0;
    }

    .sidebar-text {
        font-family: "Source Code Pro", monospace;
        font-size: 1rem;
        margin: 0 0 1rem 0;
    }

    .brand {
        flex-direction: column;
    }

    h1 {
        text-align: center;
        font-size: 1.5rem;
    }

    .profile-photo img {
        width: 96px;
        height: 96px;
        border: 1px solid var(--color-profile-outline-pink);
    }

    .grid-container {
        display: block;
    }

    main {
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    body {
        padding: 0px 10px 0px 10px;
    }

    h1 {
        font-size: 1.2rem;
    }
}
