/* Tim Pevey Resume 2025 */

/** MARK: Fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght,SOFT@9..144,100..900,50&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


/** MARK: Variables
*/
:root {
    --border-color: #525151;
}

/** MARK: Styles
*/
a {
    text-decoration: none;
    color: #333;
}

html {
    max-width: 700px;
    margin: 0 auto;
    font-size: 16px;
}

body {
    background-image: url("/assets/whitepaper.jpg");
    background-size: 12%;
    padding-bottom: 50px;
}

/** MARK: Name & Contact Info
*/

h1 {
    text-align: center;
}

.first-name, .last-name {
    font-family: "Fraunces", serif;
    font-size: 2.5em;
}

.icon {
    margin-right: 3px;
}

.contact {
    text-align: center;
    font-family: "Source Code Pro", monospace;
    font-size: 0.75em;
    padding: 10px 0px 10px 0px;
}

.pipe {
    padding: 0px 10px 0px 10px;
}

.hr {
    border: 0;
    height: 1px;
    background: #333;
}

/** MARK: Summary
*/

.summary p {
    padding-top: 1.5em;
}

/** MARK: Section Styles
*/

h2 {
    font-family: "Fraunces", serif;
    font-size: 1.5em;
    border-top: 3px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    padding: 10px 0px 10px 0px;
    margin-top: 2.0em;
}

.sub-title {
    font-family: "Fraunces", serif;
    font-size: 1.1em;
    font-weight: 600;
}

.summary.p {
    margin: 20px;
    padding: 10px 0px 10px 0px;
}

p, li {
    font-family: "Source Code Pro", serif;
    font-size: 1.0em;
    line-height: 1.5;
}

.job-group {
    display: grid;
    grid-template-rows: 3fr;
    grid-template-areas:
        "job-title"
        "prof-details"
        "list";
        margin-bottom: 20px;
}

.job-title {
    grid-area: job-title;
}

.job-title, .degree {
    font-family: "Fraunces", serif;
    font-size: 1.1em;
    font-weight: 600;
    padding-right: 5px;
}

.prof-details {
    grid-area: prof-details;
}

.job-group ul {
    grid-area: list;
}

.dates {
    font-family: "Source Serif 4", serif;
    font-style: italic;
    font-size: 0.9em;
    color:  rgb(17, 152, 206);
}

.company, .school {
    color:  rgb(17, 152, 206);
    font-weight: 600;
    font-size: 0.9em;
    font-family: "Source Serif 4", serif;
    font-style: italic;
    }

.technical-proficiencies p:not(:last-child) {
    margin-bottom: -40px;
}

.school-group {
    display: grid;
    grid-template-rows: 3fr;
    grid-template-areas:
        "degree"
        "edu-details"
        "list";
    margin-bottom: 20px;
}

.degree {
    grid-area: degree;
}

.edu-details {
    grid-area: edu-details;
}

.school-group ul {
    grid-area: list;
}

.footer {
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 80px;
}


.footer::before,
.footer::after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background-color: #d3d3d3; /* Light grey */
}


.footer::before {
    margin-right: 15px;
}


.footer::after {
    margin-left: 15px;
}


.footer span {

    font-family: "Fraunces", serif;
    color: #888;
    font-size: 1.2em;
}